/** ============================================================================
    Project: Controle de Finanças
    ----------------------------------------------------------------------------
    @description: Folha de estilos para Controle de Finanças
    @author: EdnilsonRobert
============================================================================= */

// SETTINGS ----------------------------
@use './itcss/variables';

// TOOLS -------------------------------
@use './itcss/functions';

// GENERICS ----------------------------
@use './itcss/reset';
@use './itcss/normalize';

// BASE --------------------------------
@use './itcss/text-formatting';
@use './itcss/navigation';
@use './itcss/icons';

// OBJECTS -----------------------------
@use './itcss/toolbar';
@use './itcss/tables';
// @use './itcss/tooltips';

// COMPONENTS --------------------------
@use './itcss/wireframe';
@use './itcss/containers';
@use './itcss/grids';
@use './itcss/cards';
@use './itcss/barchart';
@use './itcss/graphics';
// @use './itcss/graphic line';
// @use './itcss/calendar';

// TRUMPS ------------------------------
@use './itcss/utils';
// @use './itcss/pages';

/* END OF FILE -------------------------------------------------------------- */
