/** ============================================================================
    Group: Components
    File: Barchart
============================================================================= */

@use './containers';

.barchart {
  @extend %container-styled;
  padding: var(--space-sm);
}

.barchart-ruler {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: var(--space-sm);
  margin-bottom: var(--space-xs);
  background-color: var(--ui-color-5);
}

.barchart-ruler-item {
  height: .9rem;
}

/* END OF FILE ============================================================== */
