/** ============================================================================
    Group: Components
    File: Barchart
============================================================================= */

@use './containers';

.barchart {
  @extend %container-styled;
  margin-top: var(--space-sm);
}

/* END OF FILE ============================================================== */
