/** ============================================================================
    Group: Tools
    File: Functions
============================================================================= */

@function image($image) {
  $PATH_IMG: '../images';
  @return url('#{$PATH_IMG}/#{$image}');
}

/* END OF FILE ============================================================== */
