/** ============================================================================
    Group: Base
    File: Icons
============================================================================= */

.path-classroom { fill: var(--blue-3); }
.path-income { fill: var(--spring-3); }
.path-investments { fill: var(--gold-3); }
.path-expenses { fill: var(--red-3); }

.has-icon {
  display: flex;
  align-items: center;

  .ion-icon {
    margin-right: var(--space-sm);
    color: var(--ui-color-4);
  }
}

/* END OF FILE ============================================================== */
