/** ============================================================================
    Group: Base
    File: Icons
============================================================================= */

.path-classroom {
  fill: var(--blue-3);
}

.path-income {
  fill: var(--spring-3);
}

.path-investments {
  fill: var(--gold-3);
}

.path-expenses {
  fill: var(--red-3);
}

/* END OF FILE ============================================================== */
