/** ============================================================================
    Group: Generics
    File: Reset
============================================================================= */

// RESET -----------------------------------------------------------------------
body, html, h1, h2, h3, h4, h5, h6, p,
address, article, aside, footer, header, main, nav, section,
blockquote, div, figcaption, figure, hr,
a, br, em, i, mark, small, span, strong, s, sub, sup,
dd, dl, dt, li, ol, ul,
caption, col, colgroup, table, tbody, td, tfoot, th, thead, tr,
img, svg,
::before, ::after,
ion-icon {
  box-sizing: border-box;
  margin: unset;
  padding: unset;
}

/* END OF FILE ============================================================== */
