/** ============================================================================
    Group: Objects
    File: Tables
============================================================================= */

.table {
  width: 100%;
  margin-top: var(--space-sm);
  border-collapse: separate;
  border-spacing: .3rem .1rem;
  border-radius: var(--corner-sm);
  border: 1px solid var(--ui-color-5);
  background-color: var(--ui-color-7);
  box-shadow: 0 .3rem .3rem var(--ui-color-9);
}

.table-header-cell {
  padding: var(--space-xs) var(--space-sm);
  border-bottom: .1rem solid var(--ui-color-6);
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-sm);
}

.table-body {
  background-color: var(--ui-color-8);
}

.table-cell {
  padding: 0 var(--space-sm);
  line-height: var(--line-height-lg);
}

.cell-money {
  font-family: var(--font-family-mono);
  text-align: right;
}

.table-investments {
  .table-cell {
    &:not(:first-child) { width: 9%; }
  }
}

/* END OF FILE ============================================================== */
