/** ============================================================================
    Group: Objects
    File: Tables
============================================================================= */

.table {
  width: 100%;
  margin-top: var(--space-sm);
  border-collapse: separate;
  border-spacing: .3rem .1rem;
  border-radius: var(--corner-sm);
  border: 1px solid var(--ui-color-5);
  background-color: var(--ui-color-7);
  box-shadow: 0 .3rem .3rem var(--ui-color-9);
}

// .table-header {}

// .table-header-row {}

.table-header-cell {
  padding: var(--space-xs) var(--space-sm);
  border-bottom: .1rem solid var(--ui-color-6);
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-sm);
}

.table-body {
  background-color: var(--ui-color-8);
}

.table-footer {
  background-color: var(--ui-color-7);
}

// .table-row {}

.table-cell {
  padding: 0 var(--space-sm);
  line-height: var(--line-height-lg);
}

.table-footer-cell {
  border-top: .1rem solid var(--ui-color-6);
}

.cell-ac { text-align: center; }
.cell-ar { text-align: right; }

.cell-fm {
  font-family: var(--font-family-mono);
  text-align: right;
}

.cell-jc {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .ion-icon {
    margin-left: var(--space-xs);
  }
}

.table-investments {
  .table-cell {
    &:not(:first-child) { width: 9%; }
  }
}

/* END OF FILE ============================================================== */
