/** ============================================================================
    Group: Base
    File: Text formatting
============================================================================= */

.headline-1 { font-size: 3.2rem; }
.headline-2 { font-size: 2.8rem; }
.headline-3 { font-size: 2.4rem; }
.headline-4 { font-size: 2.0rem; }
.headline-5 { font-size: 1.6rem; }
.headline-6 { font-size: 1.2rem; }

.headline-1, .headline-2, .headline-3, .headline-4, .headline-5, .headline-6 {
  color: var(--ui-color-3);
}

.text-display {
  font-weight: var(--font-weight-light);
  font-family: var(--font-family-display);
}

.overline {
  font-weight: var(--font-weight-bold);
  color: var(--ui-color-3);
}

.caption {
  font-weight: var(--font-weight-regular);
}

.overline, .caption {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-md);
}

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

.to-lowercase { text-transform: lowercase; }
.to-uppercase { text-transform: uppercase; }

/* END OF FILE ============================================================== */
