/** ============================================================================
    Group: Trumps
    File: Utils
============================================================================= */

// UTILS -----------------------------------------------------------------------
.red {
  background-color: var(--red-4);
}
.gold {
  background-color: var(--gold-4);
}
.lime {
  background-color: var(--lime-4);
}
.spring {
  background-color: var(--spring-4);
}
.aqua {
  background-color: var(--aqua-4);
}
.blue {
  background-color: var(--blue-4);
}
.purple {
  background-color: var(--purple-4);
}
.magenta {
  background-color: var(--magenta-4);
}
.pink {
  background-color: var(--pink-4);
}
.brown {
  background-color: var(--brown-4);
}

.text-red {
  background-color: var(--red-3);
}
.text-gold {
  background-color: var(--gold-3);
}
.text-lime {
  background-color: var(--lime-3);
}
.text-spring {
  background-color: var(--spring-3);
}
.text-aqua {
  background-color: var(--aqua-3);
}
.text-blue {
  background-color: var(--blue-3);
}
.text-purple {
  background-color: var(--purple-3);
}
.text-magenta {
  background-color: var(--magenta-3);
}
.text-pink {
  background-color: var(--pink-3);
}
.text-brown {
  background-color: var(--brown-3);
}

/* END OF FILE ============================================================== */
